# Server port
PORT=4000

# MongoDB connection string
MONGODB_URI=YOUR_MONGODB_ATLAS_URI
appName=Cluster0   # optional, can be left blank or same

# Allowed frontend origin
CORS_ORIGIN=http://localhost:5173

# JWT secret key (use any random string in actual .env)
JWT_SECRET=your-secret-key

# Default admin credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@12345
ADMIN_NAME=Admin
